@use "utilities/variables" as *;
@use "base/tipografia";
@use "base/base";
@use "layout/header";
@use "layout/nav";
@use "layout/footer";
@use "components/buttons";
@use "components/cards";
@use "components/carousel";
@use "components/modal";
@use "components/sections";

@media (min-width: 768px) {
  .navbar-tatto {
    padding: 15px 30px;
  }

  main {
    padding: 40px;
  }

  .galeria-disenos {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #carouselTatto .carousel-item img {
    height: 480px;
  }
}

@media (min-width: 1024px) {
  .navbar-tatto {
    padding: 20px 50px;
  }

  main {
    max-width: $ancho-maximo;
    margin: 0 auto;
    padding: 50px;
  }

  section {
    padding: 30px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }

  .presentacion,
  .introduccion-disenos {
    grid-template-areas: "imagen texto";
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .galeria-disenos {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  #carouselTatto .carousel-item img {
    height: 520px;
  }
}
